*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	background-image: url(../img/back.jpg);
	background-size: 103% 103%;
	width: 100%;
	height: auto;
	text-align: center;
	background-attachment: fixed;
	overflow: hidden;
}

.mail-colector{
	border: none !important;
	border-bottom: 2px solid gray !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}

.mail-colector:focus  {
	border-bottom: 2px solid  #1266F1 !important;
	transition: 500ms;
}

/*Animación de los input*/
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

.tamaño-container{
	 width:440px !important;
	 height: 338px !important;
}

footer{
	background-color: rgba(0,0,0, 0.6); 
}