@import url(StyleMain.css);

.tamaño-container-update{
   width:500px !important;
   height: 450px !important;
}

.container-header{
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;

}